<ul>
  <li>
    <a routerLink='/prestations' routerLinkActive="router-link-active"  > Prestations</a>
  </li>
  <li>
     <a [routerLink]="['/prestations']"  routerLinkActive="router-link-active"   >Prestations2</a>
    </li>
    <li>
        <a [routerLink]="['/prestations/add']"  routerLinkActive="router-link-active"   >Add</a>
    </li>
  <li>   <a routerLink='/login' routerLinkActive="router-link-active"  > Login</a></li>
  <li>   <a [routerLink]="['/pagenotfound']" routerLinkActive="router-link-active"  >404</a>
</ul>

